

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}
.card {
  background-color: rgb(51, 54, 71);
  height: 100px;
  width: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.card.active {
  background-color: rgb(70, 178, 217);
}
