@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  background: repeating-linear-gradient(
    to right,
    rgb(51, 54, 71),
    rgb(51, 54, 71) 10px,
    rgb(47, 50, 68) 10px,
    rgb(47, 50, 68) 20px
  );
  color: rgb(51, 54, 71);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Indie Flower', cursive;
}

h5 {
  color: white;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  background: rgb(56,207,255);
  background: linear-gradient(156deg, rgba(56,207,255,1) 0%, rgba(255,59,181,1) 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  position: relative;
  padding: 32px;
  margin-top: 16px;
  border-radius: 16px;
}

.card {
  background-color: rgb(51, 54, 71);
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 8px;
  box-shadow: 6px 6px 10px rgb(0 0 0 / 10%);
  transition: all ease 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card.active {
  background-color: rgb(145, 82, 228);
  color: white;
}

.card.match {
  background-color: rgb(22, 205, 211);
  color: white;
}

header {
  font-size: 36px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-top: 16px;
}

.record {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-start {
  background-color: rgb(238, 74, 164);
  color: rgb(255, 255, 255);
  font-family: inherit;
  margin-top: 4px;
  border: 0;
  border-radius: 8px;
  transition: all ease 0.5s;
}

.btn-start:hover {
  background-color: rgb(107, 27, 244);
}

.winner {
  background: rgb(56,234,255);
  background: linear-gradient(320deg, rgba(56,234,255,1) 0%, rgba(138,59,255,1) 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 325px;
  height: 100px;
  width: 250px;
  font-size: 32px;
  position: absolute;
  z-index: 1;
  border: solid 2px rgb(107, 27, 244);
  border-radius: 16px;
  animation-name: open;
  animation-duration: 0.6s;
}

.winner.close {
  display: none;
}

.btn-close {
  background-color: rgb(107, 27, 244);
  color: rgb(231, 221, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  top: -13px;
  right: -13px;
  font-size: 18px;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  transition: all ease 0.2s;
}

.btn-close:hover {
  transform: scale(1.1);
}

@keyframes open {
  0%   {transform: scale(0);}
  100% {transform: scale(1);}
}
